<div class="container">
  <div class="grid grid-cols-2 h-screen">
    <div class="bg-gray-100 flex">
      <div class="m-auto">
        <div class="w-full flex flex-col justify-center items-center">
          <div class="calc-card">
            <div class="py-4 px-8 mt-3">
              <tree-root
                [nodes]="nodes"
                [focused]="true"
                [options]="options"
                (focus)="onSelectNode($event)"
              ></tree-root>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-red-100 flex">
      <div class="shadow-md m-auto w-1/2">
        <div class="">
          <app-workspace></app-workspace>
        </div>
      </div>
    </div>
  </div>
</div>
